<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860540440753-1icjlqokjjj55eh2thojca7msscjq3cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860540440753-1icjlqokjjj55eh2thojca7msscjq3cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDd-fQAFQnkpfM6ZejU4UrOkyJn7t8jzSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>860540440753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itProject</string>
	<key>PROJECT_ID</key>
	<string>peaceful-app</string>
	<key>STORAGE_BUCKET</key>
	<string>peaceful-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860540440753:ios:789fce3211487dac</string>
	<key>DATABASE_URL</key>
	<string>https://peaceful-app.firebaseio.com</string>
</dict>
</plist>